* {
  box-sizing: border-box;
    
}

body,
.buttons,
.buttons__search,
.buttons__random {
    display: flex;
    color: white;
}



body {
    width: 100vw;
    height: 100vh ;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #092B40;
    /*border: 1px dashed red;*/
    overflow-x: hidden;
    padding-bottom: 1vh;
}

.buttons {
    width: 66vw;
    height: 10vw;/*
    border: 1px dashed red;*/
    margin-top: 2.5vw;
    flex-direction: row;
    justify-content: space-around;
    visibility: hidden;/*
    border: 1px dashed red;*/
}

.buttons__search,
.buttons__random{
    width: 45%;/*
    border: 1px dashed black;*/
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.buttons__search::before,
.buttons__random::before {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 30%;
    display: inline-block;
}

.buttons__search::before {
    content: "";
    background-image: url("searchIcon.svg");
}

.buttons__random::before {
    content: "";
    background-image: url("random.svg");
    margin-right: 2px;
}

.buttons__random a{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.result-list {
    width: 80vw;
    /*border: 1px dashed red;*/
    margin-top: 5vw;
    opacity: 0;
    position: relative;
}

.result-list-fade-in {
    animation: fade-in .2s ease-in forwards;
}

.result-list-fade-out {
    animation: fade-out .1s ease-in forwards;
}

@keyframes fade-in {
    from {
        top: 400px;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        top: 0;
        opacity: 1;
    }
    to {
        top: 400px;
        opacity: 0;
    }
}

.body {
    height: inherit;
    padding-top: 5%;
}

.result-list__result {
    background-color: #E6E6E7;
    color: black;
    padding: 2% 12%;
    margin-top: 4%;
    box-sizing: initial;
    position: relative;
    border-radius: 5px;
    transition: all .1s ease-out;
}

.result-list__result:hover {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.result-list__result:hover::before {
    /*border-left: 1vw solid #D96F32;*/
    content: "";
    display: inline-block;
    width: 1vw;
    height: 100%;
    background-color: #D96F32;
    position: absolute;
    top: 0;
    left: -1vw;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.result-list__result a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.result-list__result-hover:before {
    content: "";
    display: inline-block;
    width: 1vw;
    height: 100%;
    background-color: #D96F32;
}

@media only screen and (min-width: 480px) {
    .buttons {
        width: 55vw;
        height: 7vw;
    }
    
}

@media only screen and (min-width: 768px) {
    .buttons {
        width: 38vw;
        height: 5vw;
    }
    
    .buttons__search::before,
    .buttons__random::before {
        height: 97%;
    }
    
    .result-list {
        width: 70vw;
    }
    
    .result-list__result {
        margin-top: 3%;
    }
}

@media only screen and (min-width: 992px) {
    .buttons {
        width: 40vw;
        height: 4vw;
    }
    
    .result-list {
        width: 60vw;
    }
}

@media only screen and (min-width: 1200px) {
    .buttons {
        width: 25vw;
        height: 2.5vw;
    }
    
    .result-list {
        width: 60vw
    }
    
    .result-list__result {
        margin-top: 2%;
    }
}


