* {
  box-sizing: border-box;
    
}

body,
.buttons,
.buttons__search,
.buttons__random {
    display: flex;
    color: white;
}



body {
    width: 100vw;
    height: 100vh ;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #092B40;
    /*border: 1px dashed red;*/
    overflow-x: hidden;
}

form {
    /*border: 1px dashed red;*/
}


.buttons {
    width: 66vw;
    height: 10vw;/*
    border: 1px dashed red;*/
    margin-top: 2.5vw;
    flex-direction: row;
    justify-content: space-around;
    visibility: hidden;/*
    border: 1px dashed red;*/
}

.buttons__search,
.buttons__random{
    width: 45%;/*
    border: 1px dashed black;*/
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buttons__search::before,
.buttons__random::before {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 30%;
    display: inline-block;
}

.buttons__search::before {
    content: "";
    background-image: url("searchIcon.svg");
}

.buttons__random::before {
    content: "";
    background-image: url("random.svg");
    margin-right: 2px;
}

.result-list {
    width: 80vw;
    overflow: hidden;
    /*border: 1px dashed red;*/
    margin-top: 5vw;
}

.body {
    height: inherit;
    padding-top: 5%;
}

.result-list__result {
    background-color: #E6E6E7;
    color: black;
    padding: 2% 12%;
    margin-top: 3vw;
}

@media only screen and (min-width: 480px) {
    .buttons {
        width: 55vw;
        height: 7vw;
    }
    
}

@media only screen and (min-width: 768px) {
    .buttons {
        width: 38vw;
        height: 5vw;
    }
    
    .buttons__search::before,
    .buttons__random::before {
        height: 97%;
    }
}

@media only screen and (min-width: 992px) {
    .buttons {
        width: 40vw;
        height: 4vw;
    }
}


