* {
  box-sizing: border-box
}

body {
  background-color: #092B40;
  width: 100vw;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.app__search-bar {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: transparent;
  transition: all .15s ease-out;
  box-sizing: border-box;
  padding: 0 3vw 0 1vw;
  color: white;
  font-size: 10vw;
  cursor: pointer;
  border: .7vw solid #D96F32;
}

.app__search-bar:focus {
  outline: none;
}

.form::after {
  content: "";
  display: inline-block;
  width: 8vw;
  height: .6vw;
  background-color: #D96F32;
  transform: rotate(45deg) translate(4.3vw,14vw);
}

.app__search-bar-focus {
  width: 75vw;
  border-radius: 20px;
  cursor: text;
}

.app__close-btn {
  position: absolute;
  width: 10%;
  height: 100%;
  right: 12px;
  cursor: pointer;
  display: none;
}

.app__close-btn div {
  width: 12vw;
  height: 1.2vw;
  background-color: #D96F32;
  transform: rotate(45deg);
  position: absolute;
  top: calc((100% - 1.2vw) /2);
  left: calc((100% - 12vw) /2);
}

.app__close-btn div:after {
  content: "";
  display: inline-block;
  width: 12vw;
  height: 1.2vw;
  background-color: #D96F32;
  position: absolute;
  transform: rotate(90deg);
  cursor: pointer;
}

@media only screen and (min-width: 480px) {
    .app__search-bar {
        width: 15vw;
        height: 15vw;
        font-size: 7vw;
    }
    
    .app__search-bar-focus {
        width: 70vw;
    }
    
    .form::after {
        width: 6vw;
        height: .6vw;
        transform: rotate(45deg) translate(2.5vw,9vw);
    }
    
    .app__close-btn div {
        width: 10vw;
        height: 1vw;
        top: calc((100% - 1vw) /2);
        left: calc((100% - 10vw) /2);
    }
    
    .app__close-btn div:after {
        width: 10vw;
        height: 1vw;
    }
}

@media only screen and (min-width: 768px) {
    .app__search-bar {
        width: 8vw;
        height: 8vw;
        font-size: 4vw;
    }
    
    .app__search-bar-focus {
        width: 60vw;
    }
    
    .form::after {
        width: 3vw;
        height: .6vw;
        transform: rotate(45deg) translate(1.3vw,5vw);
    }
    
    .app__close-btn div {
        width: 6vw;
        height: .6vw;
        top: calc((100% - 0.6vw) /2);
        left: calc((100% - 6vw) /2);
    }
    
    .app__close-btn div:after {
        width: 6vw;
        height: .6vw;
    }
}

@media only screen and (min-width: 992px) {
    .app__search-bar {
        width: 7vw;
        height: 7vw;
        border: .5vw solid #D96F32;
        font-size: 3.5vw;
    }
    
    .app__search-bar-focus {
        width: 50vw;
    }
    
    .form::after {
        width: 2.5vw;
        height: .5vw;
        transform: rotate(45deg) translate(1vw,4.1vw);
    }
    
    .app__close-btn div {
        width: 5vw;
        height: .5vw;
        top: calc((100% - 0.5vw) /2);
        left: calc((100% - 5vw) /2);
    }
    
    .app__close-btn div:after {
        width: 5vw;
        height: .5vw;
    }
}

@media only screen and (min-width: 1200px) {
    .app__search-bar {
        width: 6vw;
        height: 6vw;
        border: .3vw solid #D96F32;
        font-size: 3vw;
    }
    
    .app__search-bar-focus {
        width: 50vw;
    }
    
    .form::after {
        width: 2vw;
        height: .25vw;
        transform: rotate(45deg) translate(.8vw,3.8vw);
    }
}





